@charset "utf-8";

/* Universal Styles */

html {
  font-family: Helvetica;
  font-size: 16px;
}

.container {
  padding: 2rem 1.5rem;
  border: solid blue 2px;
}

.main-content {
  border: solid black 2px;
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.left {
    text-align: left;
}

.button {
  border-radius: 5px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

.flexcolumn {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;
 width: 100%;
 border: solid black 2px;
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2rem;
  }
}

span .light {
    font-weight: 300;
}

span .bold {
    font-weight: 600;
}

/* Header */

header .content {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: powderblue;
  z-index: 5;
  height: 4rem;
  border: solid black 2px;
}

header .logo {
  display: flex;
  width: auto;
  height: 2rem;
  border: solid black 2px;
}

.logo img {
  height: 2rem;
  max-width: 100%;
}

.logo {
  flex: 1;
  align-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: auto;
  padding-left: 2rem;
}

header nav {
  padding-right: 2rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 2rem;
}

nav a {
  font-size: 1rem;
  color: #4a4a4a;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {

  header .content {
    padding: .5rem 0;
  }
    
  header nav {
    padding: 0rem;
}
    
  header .logo {
    display: none;
}
    
  header .desktop {
    display: none;
}

  header .mobile {
    display: block;
    width: 100%;
}
    
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

  header .mobile li {
    padding: 0;
}

  header .mobile .button {
    padding: .1875rem .5rem;
    line-height: 1.6;
    color: white;
  }
}

/* Main Banners */

.main-content {
  color: black;
  background-color: lightgray;
  opacity: .7;
}

.banner {
  display: flex;
  align-items: center;
}

.secondary .banner {
    background-color: aliceblue;
}

.main-image, .secondary-image {
  width: 60%;
}

.secondary img {
    width: 100%;
}

.content .container {
  width: 40%;
  border: solid black 2px;
}

.starthere {
  padding: .5rem;
  text-align: center;
  width: 75%;
}

h2 {
  font-family: Arial;
  font-size: 2rem;
  padding-bottom: .5rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: .75rem;
}

/* Information Section */

.leftcaption {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: solid black 2px;
}

.rightpix {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    border: solid black 2px;
}

.rightpix img {
    width: 35%;
    padding: 1rem;
}

.rightcaption {
    width: 65%;
    height: auto;
    margin: .55rem;
    border: solid black 2px;
}

/* Course Section */

/* This is the course section where the background and text colors are styles */
#coursesection 
  background-color: darkgrey;
  color: black;
  border: solid black 2px;
}

/* This is the course section containing formatting for the box containing the text introducing the course*/s 
.coursetext {
    align-items: center;
    border: solid black 2px;
}

/* This is the flexbox that formats each individual coursetype box containing image and text and causes them to wrap*/
.coursetypes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto; 
    padding-top: 2rem;
    border: solid black 2px;
}

/* This is the flexbox that gives the box containing each image its width and other formatting*/
.courses {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border: solid black 2px;
}

/* This is the style that centers each image its width and other formatting*/
.courseimg img {
    width: 100%;
    margin: 0 auto;
}

.coursecaption {
    background-color: white;
    padding: 1rem 1.5rem 1.5rem 1rem;
    height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 2rem 1.5rem;
    font-size: .75rem;
    background-color: darkblue;
    color: #F5FAFF;
}